@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(../fonts/playfair_Display/PlayfairDisplay-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(../fonts/playfair_Display/PlayfairDisplay-Bold.ttf);
  font-weight: 700;
}
/*********************************************************/
/*** Layout **********************************************/
/*********************************************************/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

#scene-code .item-pen, #scene-code .item-flowerpot, #scene-code .item-machine, #scene-code .item-cup, #scene-code .item-book, #scene-design .item-case, #scene-design .item-brush-white, #scene-design .item-box, #scene-design .item-brush-black, #scene-design .item-palette, #scene-design .item-paint, #scene-behavior .item-imac, #scene-behavior .item-iphone, #scene-behavior .item-ipad, #scene-behavior .item-pencil-gray, #scene-behavior .item-mouse, #scene-behavior .item-sharpener, #scene-behavior .item-stone-medium, #scene-yglf .item-book-open, #scene-yglf .item-chrome, #scene-yglf .item-css, #scene-yglf .item-js, #scene-yglf .item-html, #scene-yglf .item-drupal, #scene-yglf .item-frame, #scene-yglf .item-imac-blur, #scene-yglf .item-stone-regular, #scene-yglf .item-stone-float-right {
  background: url("../images/hq_sprite.png") no-repeat;
  z-index: 100;
}

.wrapper {
  position: relative;
}

.deck, .deck-blank {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  min-height: 800px;
}

.deck-blank {
  background: #000000;
  color: #ffffff;
  height: 100vh;
  text-align: center;
  font-size: 2em;
  line-height: 100vh;
  width: 100vw;
}

/*********************************************************/
/*** Toggle Fullscreen ***********************************/
/*********************************************************/
.enter_fullscreen {
  position: fixed;
  top: 5px;
  left: 10px;
  cursor: pointer;
  z-index: 103;
}
.enter_fullscreen:after {
  top: -2px;
  position: relative;
  content: 'Toggle Fullscreen';
  font-size: 8px;
}

/*********************************************************/
/*** Titles **********************************************/
/*********************************************************/
.title {
  position: relative;
  cursor: default;
  font-size: 11em;
  text-align: left;
  font-weight: 700;
  padding-left: 110px;
  letter-spacing: 5px;
  z-index: 101;
  margin: 75px 0 0 0;
  text-transform: uppercase;
}

.title-frontend {
  position: absolute;
  top: 10vh;
  color: #ffffff;
  letter-spacing: 22px;
  margin: 0.5em 0 0;
  font-weight: 700;
  font-size: 9em;
  width: 100%;
  pointer-events: none;
  text-transform: uppercase;
  z-index: 101;
}

.subtitle-frontend {
  position: absolute;
  bottom: -140px;
  display: block;
  color: #000000;
  font-size: 0.2em;
  font-weight: 400;
  letter-spacing: 3px;
  text-shadow: none;
  width: 100%;
}

/*********************************************************/
/*** Flipping Letters animation **************************/
/*** Inspired by http://goo.gl/7o4rOC ********************/
/*********************************************************/
.animated-title {
  cursor: crosshair;
  line-height: 280px;
}
.animated-title:before {
  -webkit-transform: translate3d(-101%, 0, 0);
  -moz-transform: translate3d(-101%, 0, 0);
  -ms-transform: translate3d(-101%, 0, 0);
  -o-transform: translate3d(-101%, 0, 0);
  transform: translate3d(-101%, 0, 0);
  position: absolute;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in 0s;
  -moz-transition: -moz-transform 0.5s ease-in 0s;
  transition: transform 0.5s ease-in 0s;
  height: 100%;
  width: 100%;
  content: '';
  box-sizing: border-box;
  border-width: 1px 0 0 0;
  border-color: #282828;
  border-style: dotted;
}
.animated-title:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.animated-title span {
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -moz-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -ms-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -o-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
  -moz-transition: -moz-transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s;
  display: inline-block;
  position: relative;
}
.animated-title:hover span {
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  -moz-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  -ms-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  -o-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}

/*** Flipping Letters animation  *************************/
/*********************************************************/
.animated-title span:nth-child(8),
.animated-title:hover span:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.animated-title span:nth-child(7),
.animated-title:hover span:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.animated-title span:nth-child(6),
.animated-title:hover span:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.animated-title span:nth-child(5),
.animated-title:hover span:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.animated-title span:nth-child(4),
.animated-title:hover span:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.animated-title span:nth-child(3),
.animated-title:hover span:nth-child(6) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.animated-title span:nth-child(2),
.animated-title:hover span:nth-child(7) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.animated-title span:nth-child(1),
.animated-title:hover span:nth-child(8) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

/*********************************************************/
/*** Loader **********************************************/
/*********************************************************/
.pace-running {
  overflow: hidden;
}

.pace {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  height: 2px;
  width: 100%;
  background: #000000;
  z-index: 200;
}

.pace .pace-progress-inner {
  position: absolute;
  right: 0;
  -webkit-animation: rotate 3deg ease-in, translate 0, -4px ease;
  -moz-animation: rotate 3deg ease-in, translate 0, -4px ease;
  animation: rotate 3deg ease-in, translate 0, -4px ease;
  height: 100%;
  width: 100px;
  box-shadow: 0 0 10px #000000, 0 0 5px #000000;
  display: block;
  opacity: 1;
}

.pace .pace-activity {
  position: fixed;
  top: 15px;
  right: 15px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 14px;
  width: 14px;
  border: solid 2px transparent;
  border-top-color: #000000;
  border-left-color: #000000;
  display: block;
  z-index: 200;
}

/*** Loader spin animation *******************************/
/*********************************************************/
@-webkit-keyframes pace-spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes pace-spinner {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*********************************************************/
/*** Scroll Down Arrow ***********************************/
/*********************************************************/
#scroll-down-hint {
  position: absolute;
  bottom: 135px;
  left: calc(50% - 20px);
  height: 40px;
  width: 40px;
  -webkit-filter: drop-shadow(0 22px 13px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 22px 13px rgba(0, 0, 0, 0.3));
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMjkzLjggNDU1LjljLTIwLjIgMjAuMi01My4yIDE5LjktNzMuNy0wLjZsMCAwYy0yMC41LTIwLjUtMjAuOC01My41LTAuNi03My43bDE5MC0xOTBjMjAuMi0yMC4yIDUzLjItMTkuOSA3My43IDAuNmwwIDBjMjAuNSAyMC41IDIwLjggNTMuNSAwLjYgNzMuN0wyOTMuOCA0NTUuOXoiLz48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMjIwLjIgNDU1LjljMjAuMiAyMC4yIDUzLjIgMTkuOSA3My43LTAuNmwwIDBjMjAuNS0yMC41IDIwLjgtNTMuNSAwLjYtNzMuN2wtMTkwLTE5MGMtMjAuMi0yMC4yLTUzLjItMTkuOS03My43IDAuNmwwIDBjLTIwLjUgMjAuNS0yMC44IDUzLjUtMC42IDczLjdMMjIwLjIgNDU1Ljl6Ii8+PC9zdmc+);
  background-size: contain;
}

.is-hidden {
  opacity: 0;
}

/*** bounce animation ************************************/
/*********************************************************/
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -webkit-filter: drop-shadow(0 22px 10px rgba(0, 0, 0, 0.3));
  }
  40% {
    -webkit-transform: translateY(-30px);
    -webkit-filter: drop-shadow(0 88px 25px rgba(0, 0, 0, 0.3));
  }
  60% {
    -webkit-transform: translateY(-15px);
    -webkit-filter: drop-shadow(0 48px 15px rgba(0, 0, 0, 0.3));
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-filter: drop-shadow(0 22px 10px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 22px 10px rgba(0, 0, 0, 0.3));
  }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-filter: drop-shadow(0 88px 25px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 88px 25px rgba(0, 0, 0, 0.3));
  }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-filter: drop-shadow(0 48px 15px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 48px 15px rgba(0, 0, 0, 0.3));
  }
}
/*********************************************************/
/*** Float Animations ************************************/
/*********************************************************/
@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@keyframes floating_slow {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 30px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
/*********************************************************/
/*** SCENE : Front End ***********************************/
/*********************************************************/
#secne-frontend {
  text-align: center;
}

/*** Tilt effect *****************************************/
/*********************************************************/
.hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/background.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.hero__imgwrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hero__imgwrap::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  pointer-events: none;
}
.hero__imgwrap .tilt__back,
.hero__imgwrap .tilt__front {
  background-size: 100vw 100vh;
}

.hero__img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  -webkit-transition: translate3d(-50%, -50%, 0);
  -moz-transition: translate3d(-50%, -50%, 0);
  transition: translate3d(-50%, -50%, 0);
}

.tilt {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.tilt__back,
.tilt__front {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tilt__back {
  position: relative;
}

.tilt__front {
  position: absolute;
  top: 0;
  left: 0;
}

/*********************************************************/
/*** SCENE : Code - ITEMS ********************************/
/*********************************************************/
#scene-code {
  background: -webkit-linear-gradient(135deg, #a1aebd 0%, #a7b2c2 19%, #a2aebe 23%, #909eb2 43%, #56687e 100%);
  background: linear-gradient(to _position-flipper(135deg), #a1aebd 0%, #a7b2c2 19%, #a2aebe 23%, #909eb2 43%, #56687e 100%);
}
#scene-code .item-pen {
  position: absolute;
  top: 0;
  right: 120px;
  height: 134px;
  width: 408px;
  background-position: 0 -5151px;
  z-index: 104;
}
#scene-code .item-flowerpot {
  position: absolute;
  top: -40px;
  right: 0;
  height: 392px;
  width: 528px;
  background-position: 0 -3920px;
  z-index: 103;
}
#scene-code .item-machine {
  position: absolute;
  right: 0;
  bottom: -25px;
  -webkit-filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  height: 666px;
  width: 802px;
  background-position: 0 0;
  z-index: 100;
}
#scene-code .item-cup {
  position: absolute;
  right: 540px;
  bottom: 0;
  height: 268px;
  width: 299px;
  background-position: -414px -4641px;
  z-index: 104;
}
#scene-code .item-book {
  position: absolute;
  bottom: -50px;
  left: 150px;
  height: 489px;
  width: 457px;
  background-position: -427px -1313px;
  z-index: 103;
}

/*********************************************************/
/*** SCENE : Design - ITEMS ******************************/
/*********************************************************/
#scene-design {
  background: -webkit-radial-gradient(center, ellipse, #d0c5c2 0%, #a5948d 100%);
  background: radial-gradient(ellipse at center, #d0c5c2 0%, #a5948d 100%);
}
#scene-design .item-case {
  position: absolute;
  top: 0;
  right: 350px;
  height: 329px;
  width: 581px;
  background-position: 0 -4312px;
  z-index: 100;
}
#scene-design .item-brush-white {
  position: absolute;
  top: 0;
  right: 430px;
  height: 374px;
  width: 206px;
  background-position: -528px -3920px;
  z-index: 103;
}
#scene-design .item-box {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-filter: drop-shadow(12px 22px 13px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 22px 13px rgba(0, 0, 0, 0.5));
  height: 107px;
  width: 72px;
  background-position: -802px 0;
  z-index: 100;
}
#scene-design .item-brush-black {
  position: absolute;
  right: 300px;
  bottom: 0;
  height: 439px;
  width: 732px;
  background-position: 0 -3053px;
  z-index: 104;
}
#scene-design .item-palette {
  position: absolute;
  top: 200px;
  right: 0;
  -webkit-filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  height: 585px;
  width: 744px;
  background-position: 0 -1934px;
  z-index: 102;
}
#scene-design .item-paint {
  position: absolute;
  right: -20px;
  bottom: 0;
  height: 428px;
  width: 341px;
  background-position: 0 -3492px;
  z-index: 103;
}

/*********************************************************/
/*** SCENE : Behavior - ITEMS ****************************/
/*********************************************************/
#scene-behavior {
  background: -webkit-linear-gradient(_position-flipper(to) _position-flipper(right) _position-flipper(), #adc5bb 0%, #c3d5cd 100%);
  background: linear-gradient(to right, #adc5bb 0%, #c3d5cd 100%);
}
#scene-behavior:before {
  position: absolute;
  top: 45px;
  left: 10px;
  cursor: default;
  content: '&';
  font-family: "Playfair Display", serif;
  font-size: 3em;
  text-align: left;
  padding-left: 110px;
  letter-spacing: -22px;
  z-index: 101;
}
#scene-behavior .item-imac {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  height: 647px;
  width: 836px;
  background-position: 0 -666px;
  z-index: 100;
}
#scene-behavior .item-iphone {
  position: absolute;
  right: 388px;
  bottom: 53px;
  height: 312px;
  width: 167px;
  background-position: -581px -4312px;
  z-index: 100;
}
#scene-behavior .item-ipad {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 300px;
  width: 414px;
  background-position: 0 -4641px;
  z-index: 102;
}
#scene-behavior .item-pencil-gray {
  position: absolute;
  top: 40px;
  right: 530px;
  height: 121px;
  width: 233px;
  background-position: -598px -4941px;
  z-index: 100;
}
#scene-behavior .item-mouse {
  position: absolute;
  top: 350px;
  right: 760px;
  -webkit-filter: drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.5));
  height: 90px;
  width: 132px;
  background-position: -748px -4312px;
  z-index: 103;
}
#scene-behavior .item-sharpener {
  position: absolute;
  top: -15px;
  right: 0;
  height: 194px;
  width: 150px;
  background-position: -732px -3053px;
  z-index: 100;
}
#scene-behavior .item-stone-medium {
  position: absolute;
  top: 40px;
  right: 250px;
  height: 64px;
  width: 64px;
  background-position: -482px -5151px;
  z-index: 100;
}

/*********************************************************/
/*** SCENE : You Gotta Love Front End ********************/
/*********************************************************/
/*** YGLF Logo *******************************************/
/*********************************************************/
.logo {
  position: absolute;
  top: 120px;
  right: 120px;
  z-index: 120;
}

/*** YGLF site link **************************************/
/*********************************************************/
.yglf-box {
  position: absolute;
  top: 520px;
  right: 120px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-weight: 100;
  width: 475px;
  z-index: 103;
}
.yglf-box a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 15px;
  border-bottom: 2px dashed #ffffff;
}
.yglf-box a:after {
  content: '';
  padding-bottom: 15px;
  border-bottom: 2px dashed #ffffff;
  display: block;
}

/*** Credit Box ******************************************/
/*********************************************************/
.credit-box {
  position: absolute;
  top: 590px;
  right: 120px;
  height: auto;
  width: 472px;
  background: #000000;
  box-sizing: border-box;
  color: #bbbbbb;
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
  padding: 20px;
  z-index: 100;
}
.credit-box a {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 0;
  border-bottom: 1px dotted #888888;
}
.credit-box svg {
  height: 10px;
  width: 10px;
  background-size: 10px 10px;
}

/*** Blur background for mouse over effect ***************/
/*********************************************************/
#background-image-layer {
  position: absolute;
  top: -10%;
  left: -10%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  height: 120%;
  width: 120%;
  background: url("../images/background.jpg") no-repeat center center;
  background-size: cover;
  display: block;
  opacity: 1;
  z-index: 150;
}

/*********************************************************/
/*** SCENE : You Gotta Love Front End - ITEMS ************/
/*********************************************************/
#scene-yglf .item-book-open {
  position: absolute;
  bottom: -10px;
  left: 70px;
  height: 407px;
  width: 487px;
  background-position: -341px -3492px;
  z-index: 100;
  animation: floating_slow 16s ease-in-out both infinite;
}
#scene-yglf .item-chrome {
  position: absolute;
  right: 440px;
  bottom: 23px;
  -webkit-filter: drop-shadow(0px 22px 8px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 22px 8px rgba(0, 0, 0, 0.3));
  height: 139px;
  width: 135px;
  background-position: -744px -1934px;
  z-index: 101;
  animation: floating 8s ease-in-out both infinite;
}
#scene-yglf .item-css {
  position: absolute;
  top: 75px;
  left: 422px;
  height: 131px;
  width: 101px;
  background-position: -734px -3920px;
  z-index: 101;
  animation: floating 4s ease-in-out both infinite;
}
#scene-yglf .item-js {
  position: absolute;
  top: 220px;
  left: 120px;
  height: 192px;
  width: 179px;
  background-position: -419px -4941px;
  z-index: 103;
  animation: floating_slow 5s ease-in-out both infinite;
}
#scene-yglf .item-html {
  position: absolute;
  top: 402px;
  left: 428px;
  height: 214px;
  width: 169px;
  background-position: -713px -4641px;
  z-index: 100;
  animation: floating 8s ease-in-out both infinite;
}
#scene-yglf .item-drupal {
  position: absolute;
  bottom: 60px;
  left: 220px;
  height: 86px;
  width: 74px;
  background-position: -408px -5151px;
  z-index: 100;
  animation: floating_slow 5s ease-in-out both infinite;
}
#scene-yglf .item-frame {
  position: absolute;
  top: -80px;
  left: 160px;
  height: 621px;
  width: 427px;
  background-position: 0 -1313px;
  z-index: 100;
  animation: floating 10s ease-in-out both infinite;
}
#scene-yglf .item-imac-blur {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 534px;
  width: 888px;
  background-position: 0 -2519px;
  z-index: 99;
  animation: floating 15s ease-in-out both infinite;
}
#scene-yglf .item-stone-regular {
  position: absolute;
  top: 20px;
  left: 490px;
  height: 51px;
  width: 44px;
  background-position: -836px -666px;
  z-index: 100;
  animation: floating_slow 20s ease-in-out both infinite;
}
#scene-yglf .item-stone-float-right {
  position: absolute;
  top: 220px;
  right: 0;
  height: 24px;
  width: 13px;
  background-position: -874px 0;
  z-index: 101;
  animation: floating 8s ease-in-out both infinite;
}

/*********************************************************/
/*** Tablet **********************************************/
/*********************************************************/
@media (max-width: 1024px) {
  body {
    font-size: 60%;
  }

  .title {
    margin: 5px 0 0 0;
    padding-left: 50px;
  }

  #scene-behavior:before {
    margin-top: 11px;
    padding-left: 50px;
  }

  .item-pen,
  .item-book,
  .item-case,
  .item-brush-white,
  .item-ipad,
  .item-pencil-gray,
  .item-stone-medium,
  .item-stone-big,
  .item-book-open,
  .item-html,
  .item-css,
  .item-js,
  .item-frame,
  .item-drupal {
    display: none;
  }
}
/*********************************************************/
/*** Mobile **********************************************/
/*********************************************************/
@media (max-width: 480px) {
  body {
    font-size: 30%;
  }

  #scene-behavior:before {
    padding-left: 35px;
  }

  .title {
    padding-left: 40px;
  }

  .logo {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }

  .logo,
  .yglf-box,
  .credit-box {
    right: -30px;
  }

  .item-flowerpot,
  .item-cup,
  .item-box,
  .item-brush-black,
  .item-paint,
  .item-sharpener,
  .item-iphone,
  .item-mouse,
  .item-chrome {
    display: none;
  }
}
