@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);
body {
  font-family: 'Montserrat', sans-serif;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

.wrapper {
  position: relative;
}

.skrollr-deck, .skrollr-deck-blank {
  background: #f9f9f9;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #f9f9f9), color-stop(70%, #e8e8e8), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(45deg, #f9f9f9 0%, #e8e8e8 70%, #d6d6d6 100%);
  background: linear-gradient(45deg, #f9f9f9 0%, #e8e8e8 70%, #d6d6d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d6d6d6', GradientType=1 );
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 850px;
  height: 100vh;
}

.skrollr-deck-blank {
  background: black;
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  line-height: 850px;
  width: 100%;
  height: 100vh;
}

.item-pen, .item-flowerpot, .item-machine, .item-cup, .item-book, .item-case, .item-brush_white, .item-box, .item-brush_black, .item-palette, .item-paint, .item-imac, .item-iphone, .item-ipad, .item-mouse, .item-pencil_gray, .item-sharpener, .item-stone_medium, .item-stone_big, .item-book_open, .item-chrome, .item-css, .item-js, .item-html, .item-drupal, .item-float-stone, .item-frame, .item-imac_blur, .item-stone_regular, .item-stone_side {
  background: url("../images/sprite.png") no-repeat;
  position: absolute;
  z-index: 100;
}

.title {
  position: relative;
  font-size: 160px;
  text-align: left;
  padding-left: 140px;
  z-index: 101;
  font-weight: 700;
  letter-spacing: -22px;
  cursor: default;
}

.subtitle {
  bottom: 15%;
  right: 15%;
  font-weight: 300;
  position: absolute;
  cursor: default;
  -webkit-transform: translate(-15%, -15%);
      -ms-transform: translate(-15%, -15%);
          transform: translate(-15%, -15%);
  font-style: italic;
  font-size: 35px;
}

.behavior-sub-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  position: absolute;
  top: 110px;
  left: 12px;
  font-size: 40px;
  text-align: left;
  padding-left: 140px;
  z-index: 101;
  letter-spacing: -22px;
  cursor: default;
}

/* Hover Effects Inspired by http://tympanus.net/Development/TextStylesHoverEffects */
.animated-title {
  cursor: crosshair;
}
.animated-title:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-width: 2px 0 0 0;
  border-color: #282828;
  border-style: dashed;
  left: 0;
  -webkit-transform: translate3d(-101%, 0, 0);
  transform: translate3d(-101%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.animated-title:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.animated-title span {
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
}
.animated-title:hover span {
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}

.animated-title span:nth-child(6),
.animated-title:hover span:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.animated-title span:nth-child(5),
.animated-title:hover span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.animated-title span:nth-child(4),
.animated-title:hover span:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.animated-title span:nth-child(3),
.animated-title:hover span:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.animated-title span:nth-child(2),
.animated-title:hover span:nth-child(5) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.animated-title span:first-child,
.animated-title:hover span:nth-child(6) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* Hover Effects Inspired by http://tympanus.net/Development/TextStylesHoverEffects */
.behavior {
  overflow: hidden;
  color: black;
  cursor: crosshair;
}
.behavior:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  top: 73%;
  right: 0;
  background: #F9F9F9;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.behavior:hover:before {
  width: 100%;
}
.behavior:hover:after {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.behavior:before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: rgba(28, 28, 28, 0.96);
  white-space: nowrap;
  width: 0;
  -webkit-transition: width 0.4s .3s, color .4s;
  transition: width 0.4s .3s, color .4;
}

/* Thanks to Kevin Haag for this:
http://codepen.io/khaag/pen/wotBH */
#mouse-icon {
  width: 17px;
  height: 25px;
  display: block;
  margin: -20px 0 0 -7px;
  border: 3px solid #000000;
  position: absolute;
  z-index: 105;
  opacity: 0.5;
  top: 100px;
  right: 80px;
  border-radius: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#mouse-icon::before {
  content: 'SCROLL';
  width: 60px;
  display: block;
  margin: 0 0 0 -30px;
  position: absolute;
  left: 50%;
  text-align: center;
  color: #000;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mouse-icon:hover {
  opacity: 1;
  cursor: pointer;
}

#mouse-icon:hover:before {
  margin-top: -30px;
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
      transform: scaleX(1);
}

#scroll-wheel {
  width: 5px;
  height: 6px;
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  background: #000000;
  border-radius: 3px;
  -webkit-animation: scrollWheel 6s linear infinite;
  animation: scrollWheel 0.6s linear infinite;
}

@-webkit-keyframes scrollWheel {
  0% {
    top: 5px;
    opacity: 1;
  }
  100% {
    top: 20px;
    opacity: 0;
  }
}
.scene-code {
  background: #a1aebd;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #a1aebd), color-stop(19%, #a7b2c2), color-stop(23%, #a2aebe), color-stop(43%, #909eb2), color-stop(100%, #56687e));
  background: -webkit-linear-gradient(-45deg, #a1aebd 0%, #a7b2c2 19%, #a2aebe 23%, #909eb2 43%, #56687e 100%);
  background: -webkit-linear-gradient(315deg, #a1aebd 0%, #a7b2c2 19%, #a2aebe 23%, #909eb2 43%, #56687e 100%);
  background: linear-gradient(135deg, #a1aebd 0%, #a7b2c2 19%, #a2aebe 23%, #909eb2 43%, #56687e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1aebd', endColorstr='#56687e', GradientType=1 );
}

.item-pen {
  background-position: 0 -5151px;
  width: 408px;
  height: 134px;
  right: 120px;
  top: 0;
  -webkit-filter: drop-shadow(52px 52px 17px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(52px 52px 17px rgba(0, 0, 0, 0.4));
  z-index: 104;
}

.item-flowerpot {
  background-position: 0 -3920px;
  width: 528px;
  height: 392px;
  right: 0;
  top: -40px;
  z-index: 103;
}

.item-machine {
  background-position: 0 0;
  width: 802px;
  height: 666px;
  right: 0;
  bottom: -25px;
  -webkit-filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  z-index: 102;
}

.item-cup {
  background-position: -414px -4641px;
  width: 299px;
  height: 268px;
  left: 620px;
  bottom: 0;
  z-index: 102;
}

.item-book {
  background-position: -427px -1313px;
  width: 457px;
  height: 489px;
  left: 150px;
  bottom: -50px;
}

.scene-design {
  background: #d0c5c2;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d0c5c2), color-stop(100%, #a5948d));
  background: -webkit-radial-gradient(center, ellipse cover, #d0c5c2 0%, #a5948d 100%);
  background: -webkit-radial-gradient(center, ellipse, #d0c5c2 0%, #a5948d 100%);
  background: radial-gradient(ellipse at center, #d0c5c2 0%, #a5948d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0c5c2', endColorstr='#a5948d', GradientType=1 );
}

.item-case {
  background-position: 0 -4312px;
  width: 581px;
  height: 329px;
  top: 0;
  right: 350px;
}

.item-brush_white {
  background-position: -528px -3920px;
  width: 206px;
  height: 374px;
  top: 0;
  right: 430px;
  -webkit-filter: drop-shadow(22px -18px 16px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(22px -18px 16px rgba(0, 0, 0, 0.3));
  z-index: 103;
}

.item-box {
  background-position: -802px 0;
  width: 72px;
  height: 107px;
  top: 10px;
  right: 0;
  -webkit-filter: drop-shadow(12px 22px 13px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 22px 13px rgba(0, 0, 0, 0.5));
}

.item-brush_black {
  background-position: 0 -3053px;
  width: 732px;
  height: 439px;
  bottom: 0;
  right: 300px;
  z-index: 104;
}

.item-palette {
  background-position: 0 -1934px;
  width: 744px;
  height: 585px;
  top: 200px;
  right: 0;
  z-index: 102;
  -webkit-filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
}

.item-paint {
  background-position: 0 -3492px;
  width: 341px;
  height: 428px;
  right: -20px;
  bottom: 0;
  z-index: 103;
}

.scene-behavior {
  background: #adc5bb;
  background: -webkit-gradient(left top, right top, color-stop(0%, #adc5bb), color-stop(100%, #c3d5cd));
  background: -webkit-linear-gradient(left, #adc5bb 0%, #c3d5cd 100%);
  background: linear-gradient(to right, #adc5bb 0%, #c3d5cd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc5bb', endColorstr='#c3d5cd', GradientType=1 );
}

.item-imac {
  background-position: 0 -666px;
  width: 836px;
  height: 647px;
  bottom: 0;
  right: 0;
  -webkit-filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3));
}

.item-iphone {
  background-position: -581px -4312px;
  width: 167px;
  height: 312px;
  bottom: 53px;
  right: 388px;
}

.item-ipad {
  background-position: 0 -4641px;
  width: 414px;
  height: 300px;
  top: 40px;
  right: 40px;
  z-index: 102;
}

.item-mouse {
  background-position: -748px -4312px;
  width: 132px;
  height: 90px;
  right: 560px;
  top: 160px;
  -webkit-filter: drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.5));
  z-index: 101;
}

.item-pencil_gray {
  background-position: -598px -4941px;
  width: 233px;
  height: 121px;
  top: 0;
  right: 530px;
}

.item-sharpener {
  background-position: -732px -3053px;
  width: 150px;
  height: 194px;
  top: -15px;
  right: 0;
}

.item-stone_medium {
  background-position: -482px -5151px;
  width: 64px;
  height: 64px;
  right: 250px;
  top: 40px;
}

.item-stone_big {
  background-position: 0 -4941px;
  width: 209px;
  height: 210px;
  bottom: 210px;
  right: 630px;
}

.yglf-link:link,
.yglf-link:active,
.yglf-link:visited,
.yglf-link:hover {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 15px;
  border-bottom: 2px dashed #ffffff;
}
.yglf-link:link:after,
.yglf-link:active:after,
.yglf-link:visited:after,
.yglf-link:hover:after {
  content: '';
  padding-bottom: 15px;
  border-bottom: 2px dashed #ffffff;
  display: block;
}

.logo {
  position: absolute;
  right: 120px;
  top: 120px;
  -webkit-filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.2));
  z-index: 102;
}

.date {
  position: absolute;
  right: 120px;
  top: 520px;
  width: 475px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  z-index: 103;
}

.credit {
  position: absolute;
  right: 120px;
  top: 640px;
  width: 475px;
  box-sizing: border-box;
  text-align: center;
  color: #bbbbbb;
  font-size: 11px;
  font-weight: 100;
  padding: 20px 20px;
  z-index: 100;
  background: #000000;
}
.credit a {
  padding-bottom: 0px;
  border-bottom: 1px dotted #888;
}
.credit svg {
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
}

.item-book_open {
  background-position: -341px -3492px;
  width: 487px;
  height: 407px;
  bottom: -10px;
  left: 70px;
}

.item-chrome {
  background-position: -744px -1934px;
  width: 135px;
  height: 139px;
  bottom: 15px;
  right: 440px;
  -webkit-filter: drop-shadow(0px 22px 8px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 22px 8px rgba(0, 0, 0, 0.3));
  z-index: 101;
}

.item-css {
  background-position: -734px -3920px;
  width: 101px;
  height: 131px;
  top: 75px;
  left: 422px;
  -webkit-filter: drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.3));
  z-index: 101;
}

.item-js {
  background-position: -419px -4941px;
  width: 179px;
  height: 192px;
  top: 220px;
  left: 120px;
  -webkit-filter: drop-shadow(2px 12px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 12px 7px rgba(0, 0, 0, 0.5));
  z-index: 103;
}

.item-html {
  background-position: -713px -4641px;
  width: 169px;
  height: 214px;
  top: 402px;
  left: 428px;
  -webkit-filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.7));
}

.item-drupal {
  background-position: -408px -5151px;
  width: 74px;
  height: 86px;
  bottom: 60px;
  left: 220px;
  -webkit-filter: drop-shadow(40px 90px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(40px 90px 10px rgba(0, 0, 0, 0.2));
}

.item-float-stone {
  background-position: -2166px -894px;
  width: 58px;
  height: 52px;
  right: 100px;
  top: 50px;
  -webkit-filter: drop-shadow(27px 92px 14px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(27px 92px 14px rgba(0, 0, 0, 0.2));
}

.item-frame {
  background-position: 0 -1313px;
  width: 427px;
  height: 621px;
  left: 160px;
  top: -80px;
}

.item-imac_blur {
  background-position: 0 -2519px;
  width: 888px;
  height: 534px;
  bottom: 0;
  right: 0;
  z-index: 99;
}

.item-stone_regular {
  background-position: -836px -666px;
  width: 44px;
  height: 51px;
  left: 490px;
  top: 29px;
}

.item-stone_side {
  background-position: -874px 0;
  width: 13px;
  height: 24px;
  top: 220px;
  right: 0;
  z-index: 101;
}

@media (max-width: 768px) {
  .title {
    font-size: 100px;
    padding-left: 80px;
    letter-spacing: -11px;
    z-index: 110;
  }

  .behavior-sub-title {
    top: 40px;
    left: 6px;
    padding-left: 80px;
  }

  .logo {
    z-index: 105;
  }

  .item-css,
  .item-html,
  .item-ipad,
  .item-frame,
  .item-book_open,
  .item-js {
    display: none;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 80px;
    padding-left: 40px;
  }

  .behavior-sub-title {
    top: 20px;
    padding-left: 40px;
  }

  .logo {
    -webkit-transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
    right: -37px;
    top: 130px;
  }

  .date {
    right: 40px;
    top: 480px;
    width: 315px;
  }

  .item-book_open,
  .item-ipad,
  .item-js,
  .item-flowerpot {
    display: none;
  }
}
