body {
  font-family: Futura-pt, Arial;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(9, 97, 197), rgb(0, 208, 157), rgb(0, 208, 157)) no-repeat fixed;
}

a {
  color: white;
}

#yglf {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  min-width: 974px;
}

#elements {
  visibility: hidden;
  position: absolute;
  top: -99999px;
  left: -99999px;
}

#table {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  width: 900px;
  padding: 30px;
  border: solid 7px currentColor;
  position: relative;
  color: white;

  .space {
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
  }

  .tag {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 60px;
    opacity: 0;

    $elements: 150;
    @for $i from 0 to $elements {
      &:nth-child(#{$i}) {
        -webkit-animation: fadein .3s #{$i/50 + 0.5}s forwards;
      }
    }

    &:hover {
      z-index: 1;
    }

    &.tag-display-inline-block .content {
      background-color: rgb(63, 158, 255);
    }

    &.tag-display-block .content {
      background-color: rgb(0, 208, 157);
    }

    &.tag-display-inline .content {
      background-color: rgb(9, 97, 197);
    }

    &.tag-display-none .content {
      background-color: #dc85de;
    }

    .content {
      background-color: #d82a64;
      border: thin solid white;
      width: calc(100% - 4px);
      height: calc(100% - 8px);
      padding: 4px 0 4px 4px;
      word-wrap: break-word;
      display: block;
      text-decoration: none;

      .info {
        opacity: 0;
        display: none;
        height: calc(100% - 22px);
        overflow-y: scroll;
        transition: opacity .7s .7s;
      }

      .title {
        text-transform: uppercase;
        margin-bottom: 10px;

        &:before {
          content: "<";
        }

        &:after {
          content: "/>";
        }
      }
    }

    &:hover .content {
      width: calc(300px - 8px);
      height: calc(150px - 8px);
      margin-left: -125px;
      margin-top: -45px;
      transition: width .7s, height .7s .7s, margin-left .7s, margin-top .7s .7s;
      box-shadow: 0 0 0 7px rgba(20, 20, 20, 0.5);

      .info {
        display: block;
        opacity: 1;
      }
    }
  }

  .copy {
    position: absolute;
    transition: all 1s;
    transition-timing-function: ease-out;
    text-transform: uppercase;
    letter-spacing: 15px;
    vertical-align: top;

    &.moved {
      font-size: 40px;
    }

    .trailing {
      opacity: 0;
      font-size: 40px;
      transition: all 1s;
      transition-timing-function: ease-in;

      &.show {
        opacity: 1;
      }
    }
  }

  .char.copied {
    color: black;
    transition: all 1s;
  }
}

#periodic {
  position: absolute;
  left: 145px;
  top: 25px;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 13px;
  line-height: 60px;
  transition: all .4s;
  pointer-events: none;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  a {
    letter-spacing: 5px;
    pointer-events: auto;
    -webkit-animation: blink 2s infinite;
  }
}

#about {
  position: absolute;
  right: 95px;
  top: 65px;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s 3.5s;

  &.shown {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}