.logo {
  font-family: Futura-pt, Arial;
  text-transform: uppercase;
  font-size: 64px;
  width: 613px;
  height: 448px;
  padding: 60px;
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  color: white;
  border: solid 7px currentColor;
  background: linear-gradient(rgb(9, 97, 197), rgb(0, 208, 157), rgb(0, 208, 157)) no-repeat;
  position: absolute;
  top: calc(50vh - 224px);
  left: calc(50vw - 306px);
}

body {
  background-color: #ddd;
}

.word {
}

.word .letter {
  animation-name: flip;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.word.pulse {
  animation-name: pulse;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  position: relative;
}

.word .heart {
  position: absolute;
  left: 16%;
  color: rgb(255,111,111);
  display: none;
}

.word.pulse .heart {
  animation-name: pulse-and-go;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  display: block;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, -19deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05) translate(.15em,0);
  }
  40% {
    transform: scale(1.1) translate(.3em,0);
  }
  55% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-and-go {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: .8;
  }
  100% {
    transform: scale(8) translate(.1em,0);
    opacity: 0;
  }
}

@for $i from 1 through 20 {
  .delay-#{$i} {
    animation-delay: 50ms * $i;
  }
}
