.logo {
  font-family: Futura-pt, Arial;
  text-transform: uppercase;
  font-size: 64px;
  width: 680px;
  height: 448px;
  padding: 60px;
  letter-spacing: 15px;
  box-sizing: border-box;
  white-space: nowrap;
  color: white;
  border: solid 7px currentColor;
  background: linear-gradient(rgb(9, 97, 197), rgb(0, 208, 157), rgb(0, 208, 157)) no-repeat;
  margin-left: auto ;
  margin-right: auto ;
}

.div-center {
  margin-left: auto ;
  margin-right: auto ;
}

.row1 {
  background: linear-gradient(to bottom, rgb(6,127,186), rgb(3,169,171)) no-repeat;
}

.row2 {
  background: linear-gradient(to bottom, rgb(3,170,170), rgb(0, 208, 157)) no-repeat;
}

.row3 {
  background: linear-gradient(rgb(0, 208, 157), rgb(0, 208, 157), rgb(0, 208, 157)) no-repeat;
}

.row4 {
  background: linear-gradient(rgb(0, 208, 157), rgb(0, 208, 157), rgb(0, 208, 157)) no-repeat;
}

.letter {
  display: inline-block;
  min-width: 1em;
  text-align: center;
  /*margin-left: -.3em; */
  width: 64px;
}

.blank {
  background-color: white;
}

body {
  background-color: #ddd;
}

.animate-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}