.logo {
  font-family: Futura-pt, Arial;
  text-transform: uppercase;
  font-size: 64px;
  width: 613px;
  height: 448px;
  padding: 60px;
  letter-spacing: 15px;
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  color: white;
  border: solid 7px currentColor;
  background: linear-gradient(rgb(9, 97, 197), rgb(0, 208, 157), rgb(0, 208, 157)) no-repeat;
  position: absolute;
  top: calc(50vh - 224px);
  left: calc(50vw - 306px);
}

body {
  background-color: #ddd;
}

#boxLines path{
    stroke:#ffffff;
    fill:none;
    stroke-width:1;
}

#movementLetters{
    transform-origin:50% 50%;
}

#innerLogo.hideElements.onload{
    display:none;
}

#innerLogo.hideElements .hidden{display:none!important;}

.logoWrapper{
    max-width: 800px;
    margin:0 auto;
}

.gooFilter {
    -webkit-filter: url("#goo");
    filter: url("#goo");
    position: relative;
}
.wordRow path{

}
#frameTop{
    opacity:0;
}
#topLogo .wordRow path{
    display: none;
}

#jellyBalls circle{
    transform-origin:50% 50%;
}
#hiddenLetters .wordRow path {
    transform-origin: 50% 50%;
}
#hiddenLetters .wordRow.word1 path{
    fill: url("#row1fill");
}
#hiddenLetters .wordRow.word2 path{
    fill: url("#row2fill");
}
#hiddenLetters .wordRow.word3 path{
    fill: url("#row3fill");
}
#hiddenLetters .wordRow.word4 path{
    fill: url("#row4fill");
}
#hiddenLettersTop .wordRow path {
    transform-origin: 50% 50%;
    fill:#000000;
}
.gooFilter .circle{ width:50px;height: 50px;background-color: red;display: block;}

#movementLetters{display:none!important;}
