// ========================================================
// *** Fonts **********************************************
// ========================================================

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Playfair Display';
	src: url(../fonts/playfair_Display/PlayfairDisplay-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Playfair Display';
	src: url(../fonts/playfair_Display/PlayfairDisplay-Bold.ttf);
	font-weight: 700;
}