/*********************************************************/
/*** Layout **********************************************/
/*********************************************************/

body {
	font-family: $font-family;
	margin: 0;
}

::-moz-selection { background: $selection_background; }
::selection { background: $selection_background; }

%item {
	background: $item_background;
	z-index: $item_layer_default;
}

.wrapper {
	position: relative;
}

.deck {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	height: $deck_height;
	min-height: $deck_min-height;
}

.deck-blank {
	@extend .deck;
	background: $deck_blank_background;
	color: $deck_blank_color;
	height: $deck_height;
	text-align: $deck_blank_text-align;
	font-size: $deck_blank_font-size;
	line-height: $deck_height;
	width: $deck_width;
}

/*********************************************************/
/*** Toggle Fullscreen ***********************************/
/*********************************************************/

.enter_fullscreen {
	@include position(fixed, 5px null null 10px);
	cursor: pointer;
	z-index: 103;

	&:after {
		top: -2px;
		position: relative;
		content: 'Toggle Fullscreen';
		font-size: 8px;
	}
}
