@include breakpoint(tablet) {

	.skrollr-deck {
		height: 500px;
		max-height: 500px;
	}

	.title {
		font-size: 100px;
		padding-left: 80px;
		letter-spacing: -11px;
		z-index: 110;
	}

	.behavior-sub-title {
		top: 40px;
		left: 6px;
		padding-left: 80px;
	}

	#mouse-icon,
	.item-pen,
	.item-flowerpot,
	.item-cup,
	.item-book,
	.item-case,
	.item-brush-white,
	.item-box,
	.item-brush-black,
	.item-paint,
	.item-iphone,
	.item-ipad,
	.item-mouse,
	.item-pencil-gray,
	.item-sharpener,
	.item-stone-medium,
	.item-stone-big,
	.item-book-open,
	.item-html,
	.item-css,
	.item-js,
	.item-frame,
	.item-drupal,
	.item-chrome
	{ display: none }
}

@include breakpoint(mobile) {

	.title {
		font-size: 80px;
		padding-left: 40px;
	}

	.behavior-sub-title {
		top: 20px;
		padding-left: 40px;
	}

	.logo {
		transform: scale(.7,.7);
		right: -40px;
		top: 130px;
	}

	.yglf-site {
		right: 40px;
		top: 480px;
		width: 315px;
	}

	.credit {
		right: -40px;
	}

}