/*********************************************************/
/*** Large Desktop ***************************************/
/*********************************************************/

@include breakpoint(desktop) {

	body {
		font-size: $desktop_body_font-size;
	}

	#scene-behavior:before {
		margin-top: $desktop_behavior_before_margin-top;
	}
}

/*********************************************************/
/*** Tablet **********************************************/
/*********************************************************/

@include breakpoint(tablet) {

	body {
		font-size: $tablet_body_font-size;
	}

	.title {
		margin: $tablet_title_margin;
		padding-left: $tablet_title_padding-left;
	}

	#scene-behavior:before {
		margin-top: $tablet_behavior_before_margin-top;
		padding-left: $tablet_behavior_before_padding-left;
	}

	#scene-blur-layer,
	.enter_fullscreen,
	.item-pen,
	.item-book,
	.item-case,
	.item-brush-white,
	.item-ipad,
	.item-pencil-gray,
	.item-stone-medium,
	.item-stone-big,
	.item-book-open,
	.item-html,
	.item-css,
	.item-js,
	.item-frame,
	.item-drupal { display: none }

}

/*********************************************************/
/*** Mobile **********************************************/
/*********************************************************/

@include breakpoint(mobile) {

	body {
		font-size: $mobile_body_font-size;
	}

	#scene-behavior:before {
		padding-left: $mobile_behavior_before_padding-left;
	}

	.title {
		padding-left: $mobile_title_padding-left;
	}

	.logo {
		@include transform(scale(.7,.7));
	}

	.logo,
	.yglf-box,
	.credit-box {
		right: $mobile_position_right;
	}

	#scene-blur-layer,
	.item-flowerpot,
	.item-cup,
	.item-box,
	.item-brush-black,
	.item-paint,
	.item-sharpener,
	.item-iphone,
	.item-mouse,
	.item-chrome
	{ display: none }
}