/*********************************************************/
/*** Titles **********************************************/
/*********************************************************/

.title {
	position: relative;
	cursor: $title_cursor;
	font-size: $title_font-size;
	text-align: $title_text-align;
	font-weight: $title_font-weight;
	padding-left: $title_padding-left;
	letter-spacing: $title_letter-spacing;
	z-index: $title_layer;
	margin: $title_margin;
	text-transform: uppercase;
}

.title-frontend {
	@include position(absolute, $title_frontend_position-top null null null);
	color: $title_frontend_color;
	letter-spacing: $title_frontend_letter-spacing;
	margin: $title_frontend_margin;
	font-weight: $title_font-weight;
	font-size: $title_frontend_font-size;
	width: $title_frontend_width;
	pointer-events: none;
	text-transform: uppercase;
	z-index: $title_layer;
}

.subtitle-frontend {
	@include position(absolute, null null -140px null);
	display: block;
	color: $title_frontend_span_color;
	font-size: $title_frontend_span_font-size;
	font-weight: $title_frontend_span_font-weight;
	letter-spacing: $title_frontend_span_letter-spacing;
	text-shadow: none;
	width: 100%;
}

/*********************************************************/
/*** Flipping Letters animation **************************/
/*** Inspired by http://goo.gl/7o4rOC ********************/
/*********************************************************/

.animated-title {
	cursor: $animated_title_cursor;
	line-height: $animated_title_line-height;

	&:before {
		@include transform(translate3d(-101%, 0, 0));
		@include position(absolute, null null null 0);
		@include transition(transform 0.5s ease-in 0s);
		@include size(100%);
		content: '';
		box-sizing: border-box;
		border-width: $animated_title_border-width;
		border-color: $animated_title_border-color;
		border-style: $animated_title_border-style;
	}

	&:hover:before {
		@include transform(translate3d(0, 0, 0));
	}

	span {
		@include transform(perspective(1000px) rotate3d(0, 1, 0, 0deg));
		@include transition(transform 0.3s, color 0.3s);
		display: inline-block;
		position: relative;
	}

	&:hover span {
		@include transform(perspective(1000px) rotate3d(0,1,0,360deg));
	}
}

/*** Flipping Letters animation  *************************/
/*********************************************************/

@for $i from 1 through $animated_title_letters {
	.animated-title span:nth-child(#{$animated_title_letters_reverse}),
	.animated-title:hover span:nth-child(#{$i}) {
		-webkit-transition-delay: (0.1s * $i);
		transition-delay: (0.1s * $i);
	}
	$animated_title_letters_reverse: $animated_title_letters_reverse - 1;
}