/*********************************************************/
/*** SCENE : Front End ***********************************/
/*********************************************************/

#secne-frontend {
	text-align: center;
}

/*** Tilt effect *****************************************/
/*********************************************************/

.hero {
	@include position(absolute, 0 0 0 0);
	background: $scene_frontend_background;
	background-size: cover;
	overflow: hidden;
}

.hero__imgwrap {
	@include size(100%);
	position: relative;
	overflow: hidden;

	&::after {
		@include position(absolute, 0 null null 0);
		@include size(100%);
		content: '';
		pointer-events: none;
	}

	.tilt__back,
	.tilt__front {
		background-size: 100vw 100vh;
	}

}

.hero__img {
	@include position(absolute, 50% null null 50%);
	@include size(100%);
	@include transition(translate3d(-50%,-50%,0));
}


.tilt {
	@include size(100%);
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	@include size(100%);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	@include position(absolute, 0 null null 0);
}