/*********************************************************/
/*** SCENE : Behavior - ITEMS ****************************/
/*********************************************************/

#scene-behavior {

	@include background($scene_behavior_background);

	&:before {
		@include position(absolute, $subtitle_behavior_title_position-top null null $subtitle_behavior_title_position-left);
		cursor: $title_cursor;
		content: '&';
		font-family: $subtitle_behavior_font-family;
		font-size: $subtitle_behavior_font-size;
		text-align: $subtitle_behavior_text-align;
		padding-left: $subtitle_behavior_padding-left;
		letter-spacing: $subtitle_behavior_letter-spacing;
		z-index: $subtitle_behavior_layer;
	}

	.item-imac {
		@extend %item;
		@include position(absolute, $item_imac_position-top $item_imac_position-right $item_imac_position-bottom $item_imac_position-left);
		@include filter(drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3)));
		@include size(836px 647px);
		animation: $float_down_15;
		background-position: 0 -666px;
		z-index: $item_imac_layer;
	}

	.item-iphone {
		@extend %item;
		@include position(absolute, $item_iphone_position-top $item_iphone_position-right $item_iphone_position-bottom $item_iphone_position-left);
		@include size(167px 312px);
		background-position: -581px -4312px;
		z-index: $item_iphone_layer;
	}

	.item-ipad {
		@extend %item;
		@include position(absolute, $item_ipad_position-top $item_ipad_position-right $item_ipad_position-bottom $item_ipad_position-left);
		@include size(414px 300px);
		background-position: 0 -4641px;
		z-index: $item_ipad_layer;
	}

	.item-pencil-gray {
		@extend %item;
		@include position(absolute, $item_pencil_gray_position-top $item_pencil_gray_position-right $item_pencil_gray_position-bottom $item_pencil_gray_position-left);
		@include size(233px 121px);
		background-position: -598px -4941px;
		z-index: $item_pencil_gray_layer;
	}

	.item-mouse {
		@extend %item;
		@include position(absolute, $item_mouse_position-top $item_mouse_position-right $item_mouse_position-bottom $item_mouse_position-left);
		@include filter(drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.5)));
		@include size(132px 90px);
		animation: $float_up_20;
		background-position: -748px -4312px;
		z-index: $item_mouse_layer;
	}

	.item-sharpener {
		@extend %item;
		@include position(absolute, $item_sharpener_position-top $item_sharpener_position-right $item_sharpener_position-bottom $item_sharpener_position-left);
		@include size(150px 194px);
		animation: $float_up_5;
		background-position: -732px -3053px;
		z-index: $item_sharpener_layer;
	}

	.item-stone-medium {
		@extend %item;
		@include position(absolute, $item_stone_position-top $item_stone_position-right $item_stone_position-bottom $item_stone_position-left);
		@include size(64px 64px);
		animation: $float_down_5;
		background-position: -482px -5151px;
		z-index: $item_stone_layer;
	}

}