/*********************************************************/
/*** SCENE : Code - ITEMS ********************************/
/*********************************************************/

#scene-code {

	@include background($scene_code_background);

	.item-pen {
		@extend %item;
		@include position(absolute, $item_pen_position-top $item_pen_position-right $item_pen_position-bottom $item_pen_position-left);
		@include filter(drop-shadow(52px 52px 17px rgba(0, 0, 0, 0.4)));
		@include size(408px 134px);
		background-position: 0 -5151px;
		z-index: $item_pen_layer;
	}

	.item-flowerpot {
		@extend %item;
		@include position(absolute, $item_flowerpot_position-top $item_flowerpot_position-right $item_flowerpot_position-bottom $item_flowerpot_position-left);
		@include size(528px 392px);
		background-position: 0 -3920px;
		z-index: $item_flowerpot_layer;
	}

	.item-machine {
		@extend %item;
		@include position(absolute, $item_machine_position-top $item_machine_position-right $item_machine_position-bottom $item_machine_position-left);
		@include filter(drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3)));
		@include size(802px 666px);
		background-position: 0 0;
		z-index: $item_machine_layer;
	}

	.item-cup {
		@extend %item;
		@include position(absolute, $item_cup_position-top $item_cup_position-right $item_cup_position-bottom $item_cup_position-left);
		@include size(299px 268px);
		background-position: -414px -4641px;
		z-index: $item_cup_layer;
	}

	.item-book {
		@extend %item;
		@include position(absolute, $item_book_position-top $item_book_position-right $item_book_position-bottom $item_book_position-left);
		@include size(457px 489px);
		background-position: -427px -1313px;
		z-index: $item_book_layer;
	}

}