/*********************************************************/
/*** SCENE : Design - ITEMS ******************************/
/*********************************************************/

#scene-design {

	@include background($scene_design_background);

	.item-case {
		@extend %item;
		@include position(absolute, $item_case_position-top $item_case_position-right $item_case_position-bottom $item_case_position-left);
		@include size(581px 329px);
		background-position: 0 -4312px;
		z-index: $item_case_layer;
	}

	.item-brush-white {
		@extend %item;
		@include position(absolute, $item_box_position-top $item_box_position-right $item_box_position-bottom $item_box_position-left);
		@include size(206px 374px);
		background-position: -528px -3920px;
		z-index: $item_brush_white_layer;
	}

	.item-box {
		@extend %item;
		@include position(absolute, $item_brush_white_position-top $item_brush_white_position-right $item_brush_white_position-bottom $item_brush_white_position-left);
		@include filter(drop-shadow(12px 22px 13px rgba(0, 0, 0, 0.5)));
		@include size(72px 107px);
		background-position: -802px 0;
		z-index: $item_box_layer;
	}

	.item-brush-black {
		@extend %item;
		@include position(absolute, $item_brush_black_position-top $item_brush_black_position-right $item_brush_black_position-bottom $item_brush_black_position-left);
		@include size(732px 439px);
		background-position: 0 -3053px;
		z-index: $item_brush_black_layer;
	}

	.item-palette {
		@extend %item;
		@include position(absolute, $item_palette_position-top $item_palette_position-right $item_palette_position-bottom $item_palette_position-left);
		@include filter(drop-shadow(12px 12px 14px rgba(0, 0, 0, 0.3)));
		@include size(744px 585px);
		background-position: 0 -1934px;
		z-index: $item_palette_layer;
	}

	.item-paint {
		@extend %item;
		@include position(absolute, $item_paint_position-top $item_paint_position-right $item_paint_position-bottom $item_paint_position-left);
		@include size(341px 428px);
		background-position: 0 -3492px;
		z-index: $item_paint_layer;
	}

}