/*********************************************************/
/*** SCENE : Front End ***********************************/
/*********************************************************/

#secne-frontend {
	text-align: center;
}

.title-main {
	@include position(absolute, $title_frontend_position-top null null null);
	color: $title_frontend_color;
	letter-spacing: $title_letter-spacing;
	margin: $title_frontend_margin;
	font-weight: $title_font-weight;
	font-size: $title_font-size;
	width: $title_frontend_width;
	pointer-events: none;
	z-index: $title_layer;
}

.subtitle-main {
	display: block;
	padding: $title_frontend_span_padding;
	color: $title_frontend_span_color;
	font-size: $title_frontend_span_font-size;
	text-transform: uppercase;
	font-weight: $title_frontend_span_font-weight;
	letter-spacing: $title_frontend_span_letter-spacing;
	text-shadow: none;
}

/*** Tilt effect *****************************************/
/*********************************************************/

.hero {
	@include position(absolute, 0 0 0 0);
	background: $scene_frontend_background;
	background-size: cover;
	overflow: hidden;
}

.hero__imgwrap {
	@include size(100%);
	position: relative;
	overflow: hidden;

	&::after {
		@include position(absolute, 0 null null 0);
		@include size(100%);
		content: '';
		pointer-events: none;
	}

	.tilt__back,
	.tilt__front {
		background-size: 100vw 100vh;
	}

}

.hero__img {
	@include position(absolute, 50% null null 50%);
	@include size(100%);
	@include transition(translate3d(-50%,-50%,0));
}


.tilt {
	@include size(100%);
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	@include size(100%);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	@include position(absolute, 0 null null 0);
}