//Scene style
.yglf-link:link,
.yglf-link:active,
.yglf-link:visited,
.yglf-link:hover {
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	padding-bottom: 15px;
	border-bottom: 2px dashed #ffffff;

	&:after {
		content: '';
		padding-bottom: 15px;
		border-bottom: 2px dashed #ffffff;
		display: block;
	}
}
.logo {
	position: absolute;
	right: 120px;
	top: 120px;
	-webkit-filter: drop-shadow(12px 12px 6px rgba(0,0,0,0.2));
	filter: drop-shadow(12px 12px 6px rgba(0, 0, 0, 0.2));
	z-index: 102;
}
.date {
	position: absolute;
	right: 120px;
	top: 520px;
	width: 475px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	font-weight: 100;
	z-index: 103;
}
.credit {
	position: absolute;
	right: 120px;
	top: 640px;
	width: 475px;
	box-sizing: border-box;
	text-align: center;
	color: #bbbbbb;
	font-size: 11px;
	font-weight: 100;
	padding: 20px 20px;
	z-index: 100;
	background: #000000;

	a {
		padding-bottom: 0px;
		border-bottom: 1px dotted #888;
	}

	svg {
		width: 10px;
		height: 10px;
		background-size: 10px 10px;
	}
}

//Scene Items
.item-book_open {
	@extend %item;
	background-position:-341px -3492px;
	width:487px;
	height:407px;
	bottom: -10px;
	left: 70px;
}
.item-chrome {
	@extend %item;
	background-position:-744px -1934px;
	width:135px;
	height:139px;
	bottom: 15px;
	right: 440px;
	-webkit-filter: drop-shadow(0px 22px 8px rgba(0, 0, 0, 0.3));
	filter: drop-shadow(0px 22px 8px rgba(0, 0, 0, 0.3));
	z-index: 101;
}
.item-css {
	@extend %item;
	background-position:-734px -3920px;
	width:101px;
	height:131px;
	top: 75px;
	left: 422px;
	-webkit-filter: drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.3));
	filter: drop-shadow(22px 32px 17px rgba(0, 0, 0, 0.3));
	z-index: 101;
}
.item-js {
	@extend %item;
	background-position:-419px -4941px;
	width:179px;
	height:192px;
	top: 220px;
	left: 120px;
	-webkit-filter: drop-shadow(2px 12px 7px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(2px 12px 7px rgba(0, 0, 0, 0.5));
	z-index: 103;
}
.item-html {
	@extend %item;
	background-position:-713px -4641px;
	width:169px;
	height:214px;
	top: 402px;
	left: 428px;
	-webkit-filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.7));
	filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.7));
}
.item-drupal {
	@extend %item;
	background-position:-408px -5151px;
	width:74px;
	height:86px;
	bottom: 60px;
	left: 220px;
	-webkit-filter: drop-shadow(40px 90px 10px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(40px 90px 10px rgba(0, 0, 0, 0.2));
}
.item-float-stone {
	@extend %item;
	background-position: -2166px -894px;
	width: 58px;
	height: 52px;
	right: 100px;
	top: 50px;
	-webkit-filter: drop-shadow(27px 92px 14px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(27px 92px 14px rgba(0, 0, 0, 0.2));
}
.item-frame {
	@extend %item;
	background-position:0 -1313px;
	width:427px;
	height:621px;
	left: 160px;
	top: -80px;
}
.item-imac_blur {
	@extend %item;
	background-position:0 -2519px;
	width:888px;
	height:534px;
	bottom: 0;
	right: 0;
	z-index: 99;
}
.item-stone_regular {
	@extend %item;
	background-position:-836px -666px;
	width:44px;
	height:51px;
	left: 490px;
	top: 29px;
}
.item-stone_side {
	@extend %item;
	background-position:-874px 0;
	width:13px;
	height:24px;
	top: 220px;
	right: 0;
	z-index: 101;
}