/*********************************************************/
/*** Float Animations ************************************/
/*********************************************************/

@-webkit-keyframes floating_down {
	from {
		-webkit-transform:translate(0, 0px);
	}
	65% {
		-webkit-transform:translate(0, 15px);
	}
	to {
		-webkit-transform: translate(0, -0px);
	}
}

@keyframes floating_up {
	from {
		-webkit-transform:translate(0, -0px);
	}
	65% {
		-webkit-transform:translate(0, -15px);
	}
	to {
		-webkit-transform: translate(0, 0px);
	}
}