html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(9, 97, 197), rgb(0, 208, 157), rgb(0, 208, 157)) no-repeat;
}

#viewport {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: default;
}

#power-meter {
    position: absolute;
    cursor: default;
    pointer-events: none;
    z-index: 5;
}

#chamber-separator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 75px;
    margin: 0 auto;
    border: 2px dashed white;
    border-bottom: none;
    z-index: 4;
}

.pjs-meta {
    position: absolute;
}

.win-banner {
    visibility: hidden;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    width: 500px;
    height: 600px;
    z-index: 10;
    font-family: Futura-pt, "Helvetica Neue", Arial;
    color: #ffffff;
}

.win-banner.active {
    visibility: visible;
}

.win-banner > .text {
    margin-bottom: 30px;
    font-size: 128px;
    letter-spacing: 5px;
    text-align: center;
}

.win-banner.active > .text {
    -webkit-animation: blurFadeIn 500ms linear;
    -moz-animation: blurFadeIn 500ms linear;
    -ms-animation: blurFadeIn 500ms linear;
    animation: blurFadeIn 500ms linear;
}

.win-banner > .play-again {
    font-family: "Helvetica Neue", Arial;
    font-weight: 200;
    font-size: 26px;
    letter-spacing: 1px;
    opacity: 0;
    -webkit-transition: opacity 600ms ease-out 700ms;
    transition: opacity 600ms ease-out 700ms;
}

.win-banner.active > .play-again {
    opacity: 1;
    text-align: center;
}

.win-banner > .play-again > .text {

}

.win-banner > .play-again > input {
    width: 350px;
    height: 20px;
    margin: 20px 0;
    padding: 15px;
    text-align: center;
    font-family: "Helvetica Neue", Arial;
    font-size: 18px;
    border: 1px solid rgba(217, 217, 217, 0.5);
    outline: none;
}

.win-banner > .play-again > .start-button {
    width: 110px;
    font-size: 26px;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
}

/* Animations */
@-webkit-keyframes blurFadeIn {
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -webkit-transform: scale(1.5);
    }
    50%{
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        -webkit-transform: scale(1.3);
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 0px #fff;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes blurFadeIn{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -moz-transform: scale(1.5);
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -moz-transform: scale(1);
    }
}

@keyframes blurFadeIn{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.5);
    }
    50%{
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        transform: scale(1.3);
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
}
